<li id="comment-<%= comment._id %>">
    <small><%= comment.user.name%></small>
    <p><%= comment.comment %></p>
    <%if(locals.user && ((locals.user.id == comment.user.id) || (locals.user.id == post.user.id))){%>
      <button><a class="delete-comment-button" href="/comments/destroy/<%=comment._id%>/<%= post.user.id %>">Delete</a></button>
      <%}%>
  </li>