<li id="comment-<%= comment._id %>">
  <div class="comment-avatar-post">
  <div class="comment-user-avatar">
    <div class="comment-avatar">
      <a href="/users/profile/<%=comment.user._id%>">
      <img src="<%= comment.user.avatar %>" alt="<%=comment.user.name%>">
    </a>
    </div>
  </div>
  <div class="comment-content-container">
  <div class="comment-user-delete">
    <p class="comment-user"><a href="/users/profile/<%=comment.user._id%>"><%= comment.user.name %></a></p>
    <%if(locals.user && ((locals.user.id == comment.user.id) || (locals.user.id == post.user.id))){%>
      <button><a class="delete-comment-button" href="/comments/destroy/<%=comment._id%>/<%= post.user.id %>">Delete</a></button>
      <%}%>
    </div>
    <p class="comment-content"><%= comment.comment %></p>
  </div>
  
    
  </div>
  <div class="comment-like-container">
    <%if(locals.user){%>
      <button class="like-button 
        <% for( like of comment.likes){ %>
        <%if(like.user == locals.user.id){%>
          liked 
          <%}}%>
      "><a class="like-button-toggle" href="/likes/toggle/?id=<%= comment._id%>&type=Comment" ><%= comment.likes.length %> Likes</a></button>
      <%} else {%>
      <button><%= comment.likes.length %> Likes</button>
        <%}%>
  </div>
  
  <hr>
  </li>